// Globals

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

$font-primary : "museo-slab",serif;
$font-secondary : 'Source Sans Pro', sans-serif;

$font-gray: #6d6e71;

// colors
$grey: #6d6e71;
$brown: #a78e82;
$lightbrown: #ccbab1;
$seafoam: #bcdbd5;
$lightseafoam: #f3f8f7;
$purple: #483344;


// sizes
$emSize : 15px;
$fontSize : 16px;
$copySize : 18px;
$fontBlack : #2F2F2F;

.center-text { text-align: center; }