<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/cosmetic-dentistry.jpg" alt='General Dentsitry'/>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Cosmetic Dentistry </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Your smile is the first impression that others have of you, so it makes sense that you would want it to be bright, white and healthy. According to the American Academy of Cosmetic Dentistry, more than 99 percent of all American adults believe that a smile is an important asset for social situations. Perhaps that is why so many patients are electing cosmetic dental procedures to improve their smiles and boost self-confidence.</p>

		<div class='img-wrapper'>
	    	<img src='images/cosmetic.jpg' alt='Cosmetic Smile'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that cosmetic dentistry is more than just teeth whitening? Your Louisville cosmetic dentist is also capable of transforming your smile’s shape, color, alignment, as well as filling in gaps and discreetly restoring decayed or damaged teeth with tooth-colored fillings. In fact, modern advancements in cosmetic dentistry have made it possible for patients to achieve nearly perfect teeth with cosmetic enhancements and restorations that are virtually undetectable to friends, family and peers.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Am I a candidate for cosmetic dentistry? </h3>
	    <p>You may be a candidate for cosmetic dentistry in Louisville if your healthy teeth have imperfections that you would prefer to be changed to enhance the appearance of your smile. It is important to recognize that esthetic dental treatments are not meant to alter your overall appearance, but rather to provide a positive change that compliments the health and natural appearance of your teeth. If you think cosmetic dentistry is right for you, contact your Louisville cosmetic dentist today to schedule a consultation.</p>

	    <h3>What should I expect from my cosmetic dental visit?</h3>
	    <p>Due to great strides in dentistry, cosmetic, restorative and general dentistry can overlap in a single visit. You can expect your cosmetic dentist to discuss health implications, as well as esthetics at your appointment.</p>

	    <h3>What types of Louisville cosmetic treatments are available to me?</h3>
	    <p>There are many types of cosmetic treatments available, from in-office teeth whitening to total smile make-overs. The types of treatments available to you will depend on your overall goals, but may include professional whitening, tooth-colored fillings, bonding, crowns, veneers, or dental implants.</p>

	    <h3>What should I expect after receiving a cosmetic treatment?</h3>
	    <p>You will receive special care instructions following your treatment. For example, if you have your teeth whitened you should avoid highly pigmented beverages and foods for several days to prevent staining. On the other hand, a dental implant make-over may require a significant amount of down time, as well as a temporary, but limited diet.</p>
	  
	</div>
</div>