<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Crowns and Bridges </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Dental crowns and bridges are custom-fitted tooth prosthetics that are used to replace or restore damaged or missing teeth. Crowns – also known as caps – are fixed over the surfaces of natural tooth structures or dental implants. Bridges are used to fill in the gaps left by missing teeth and are anchored in place by the natural teeth or crowns nearest the empty space. Both crowns and bridges are non-removable and must be cemented in place by a licensed dentist. Patients who get crowns or bridges to restore their smiles achieve both the function and appearance of natural, healthy teeth.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/crowns.jpg' alt='Crowns and Bridges'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that the Etruscan civilization were the first to use crowns as a means of restoring damaged teeth? In fact, the materials they used – ivory, gold, and bones – were still the standard in dentistry as recently as the 20th century, when porcelain crowns were first invented. Today, crowns and bridges are customized specifically for the patient’s bite and can usually be placed in as little as one or two dental visits. With proper cleaning and regular dental check-ups, crowns and bridges can last many years, or even a lifetime.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Is a crown or bridge right for me? </h3>
	    <p>If you have a tooth that is damaged or decayed, but still intact, a dental crown may be right for you. If your tooth is missing, but its former position is surrounded by other tooth structures, a bridge may be the solution for you. Schedule an office consultation to determine whether you could benefit from crowns or bridges.</p>

	    <h3>What should I expect when I have my crown or bridge placed?</h3>
	    <p>If you are a candidate for a crown or bridge, your teeth will be reduced to ensure a proper fit. An impression will then be taken of your bite and used to fabricate a mold for the crown or bridge. If you are choosing porcelain prosthesis, its color will be matched to the natural shade of your other teeth. If a dental lab is making your crown or bridge, you may be fitted with a temporary restoration until the permanent one is ready for placement.</p>

	    <h3>Do I need to follow any post-treatment care guidelines?</h3>
	    <p>Your teeth will need time to heal following the crown and bridge placement process, so it is normal for you to experience some sensitivity – especially to hot and cold. Additionally, you may experience soreness in the gums surrounding your restorations, though this is usually manageable with ibuprofen and should subside within a few days.</p>
	</div>
</div>