<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Dental Implants </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Dental implants are surgical-grade root devices that support permanent tooth prosthetics that are manufactured to last a lifetime. These artificial roots are anchored in the bone beneath the gums where they become fused into the jaw. A crown is mounted atop the implant for a long-lasting and natural looking smile. Many dentists and patients prefer dental implants because they offer the same function as natural teeth and also help prevent bone atrophy in the jaw. Dental implants may be used to replace a single missing or damaged tooth or to restore an entire smile.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/dental_implants.jpg' alt='Dental Implants'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that approximately 30 million people live with no natural teeth in one or both jaws? But more and more dental patients are opting for dental implants as a means of tooth replacement. The American Academy of Implant Dentistry reports that 3 million people currently have dental implants – a number that is rapidly growing by about 500,000 per year. Modern titanium implants were first developed in the 1950s, but archeologists have determined that ancient Egyptians and Mayans were the first cultures to implant artificial teeth.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Are dental implants right for me?</h3>
	    <p>You may qualify for dental implants if you have missing, broken or severely decayed teeth and are in relatively good overall health. The only way of determining your eligibility for implants is to consult with an oral care provider to identify whether you have adequate bone support and healthy gums that will support the new tooth structure.</p>

	    <h3>What should I expect if my dentist and I decide dental implants are right for me?</h3>
	    <p>The placement of dental implants is a multi-step process that typically takes between 6 and 9 months to complete. It begins with a surgical procedure during which a titanium rod is placed where a previous natural tooth root once was. The gums are sutured shut over the implant, where it will stay for several months while it heals and begins fusing with the surrounding bone. Due to the nature of implant placement and its average procedure time of between 1 and 2 hours, you’ll be sedated and/or anesthetized for the duration of the treatment. At the conclusion of the healing period, you’ll return to be fitted for permanent crowns and have them placed.</p>

	    <h3>What type of post-treatment care will I require?</h3>
	    <p>It is normal to experience some discomfort, including bruising and swelling following a dental implant procedure. However, inflammation and pain may be managed with over-the-counter medications, hydrocodone, or codeine. You may be asked to eat only soft foods for approximately 2 weeks until the surgical site heals.</p>
	</div>
</div>