<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Removable Dentures </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Dentures are removable tooth prosthetics designed to look and function like natural teeth. For thousands of years, some form of denture has been used to fill in the gaps left by missing teeth, although today’s dentures are much more advanced and easier to care for. Most dentures are composed of replacement teeth attached to plastic bases that take on the appearance of the gums. They are used to compensate for one or more missing teeth, and are available as partials and complete sets of teeth. Many Louisville dental patients elect dentures for tooth replacement if they are not candidates for dental implants or are otherwise looking for a tooth replacement option that is more affordable and budget-friendly.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/dentures.jpg' alt='Dentures'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Caring for Your Dentures</span>
	        <p>Your dentures are custom designed to fit your smile, but did you know that improperly caring for them can cause them to become distorted? Most removable dentures must maintain moisture to retain their shape. Be sure to wash them after eating, gently clean them once daily, and allow them to soak overnight in a denture soaking solution. This will keep your dentures clean and free of stains, which ultimately helps your smile look its best.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> How do I know if I am a candidate for removable dentures? </h3>
	    <p>If you are missing one or more teeth and thinking of getting dentures in Louisville, you will first need a professional consultation with a Louisville dentist experienced in denture placement. During this time, you can explore your tooth prosthetic options, ask questions, and make a decision as to whether dentures are right for you.</p>

	    <h3>What should I expect when being fitted for dentures?</h3>
	    <p>Your gums must first be prepared before you can begin wearing dentures. If you need one or more teeth removed, the process could take several months while you wait for your gums to heal from the extractions. An impression will then be taken of your gums and the supporting bones beneath the gum, which will be used to fabricate a complete or partial denture in a dental lab.</p>

	    <h3>Will I need to follow any special after-care instructions?</h3>
	    <p>Once your dentures are ready, you can begin wearing them on a daily basis. Expect the first few weeks to be an adjustment period, during which time you will adapt to the feel of your new dentures, as well as learn how to manipulate your tongue and cheek muscles to keep them in place. You may also experience slight irritation or soreness from the initial denture wear, although this should subside after a few days or weeks.</p>
	  
	</div>
</div>