<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		ViziLite Oral Cancer Screening</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>ViziLite is an advanced oral screening tool used to identify abnormal cells along the mucous membranes inside the mouth and throat. The test takes approximately 2 minutes to administer, during which time a Louisville dentist will administer a special rinse to the mouth that causes the nuclei of abnormal pre-cancerous or cancerous cells to appear to glow when subjected to the ViziLite technology. The light is especially useful in detecting oral cancer in its earliest stages before it has had an opportunity to spread to other tissues. The entire process is quick, painless, and has the potential to help save lives.</p>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that ViziLite can greatly reduce the number of false positive and false negative lesions found in dental offices? Clinical studies have shown ViziLite to correctly identify every pre-cancerous and cancerous lesion in patients who were screened. The technology also reduces the number of biopsies ordered by dentists due to normal tissues that appear cancerous to the naked eye, but aren’t.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I get Louisville ViziLite oral cancer screening?</h3>
	    <p>Yes. When you choose to get ViziLite oral cancer screening in Louisville, you are increasing your chances of early treatment should you be diagnosed with oral cancer. With modern technology making it possible to identify dangerous diseases in their earliest stages, why gamble with your health?</p>

	    <h3>What should I expect during the ViziLite oral cancer screening?</h3>
	    <p>Your screening will begin when your dentist asks you to rinse the inside of your mouth and back of your throat with a special solution. Your Louisville dentist will then shine the ViziLite fluorescent light on the surface areas of your inner mouth to search for spots that appear brighter than surrounding healthy tissues.</p>

	    <h3>My results were negative for oral cancer. Do I need to be screened again?</h3>
	    <p>As a precaution, you should be screened for oral cancer at every dental exam or at least once yearly.</p>

	</div>
</div>