<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		How to Floss Your Teeth </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Flossing is an important part of an oral hygiene routine, but research suggests that fewer than half of Americans do so daily. Flossing is simple and only takes an extra couple of minutes per day. Developing a healthy habit of flossing can prevent tooth decay and gum disease, and it may allow you to keep more of your natural teeth as you age. So what is the most effective means of flossing?</p>

	    <p>Pull the floss taut and slide it between two teeth. <br/>
			Pull against the side of one tooth, creating a “C-shape” and sliding upwards to remove plaque build-up. <br/>
			Pull against the opposite tooth edge using the same technique. <br/>
			Repeat this process for each tooth until all inner surfaces have been flossed. <br/>
			Don’t forget to floss the backs of your molars!</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/floss.jpg' alt='Flossing Teeth'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Need some extra tips?</span>
	        <p>The American Dental Association recommends using a strand of floss approximately 18 inches in length. It is important to only use clean floss as you move between the teeth. One of the easiest ways of doing this is by looping each end of the floss around your fingers and beginning to floss with the area closest to one end. If you have never flossed, be sure to ask your dentist for a quick in-person tutorial at your next check-up.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I be flossing?</h3>
	    <p>Yes. The ADA recommends that everyone in Louisville floss in order to prevent tooth decay and gum disease. Even if you have restorations, such as crowns or veneers, good oral hygiene is essential for prolonging their use and maintaining your oral health.</p>

	    <h3>What types of results should I get from flossing?</h3>
	    <p>You may not experience immediate results from flossing, but over time, your habit will pay off. Flossing can prevent tooth decay, gum disease and tooth loss – all of which can be highly inconvenient and expensive to treat in Louisville. A piece of floss that costs just pennies could save you thousands of dollars later on.</p>

	    <h3>Is there anything else I should be doing in addition to flossing?</h3>
	    <p>Yes. In addition to flossing, you should be adopting proper brushing techniques and visiting your Louisville dentist at least twice per year for examinations and professional dental cleanings.</p>

	</div>
</div>