<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Dental Cleaning &amp; Consultation</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Preventative care is a foundation of dentistry. The American Dental Association recommends visiting your Louisville dentist regularly – usually about twice yearly – for full cleanings, examinations, and consultations for potential treatment. Professional dental cleanings help remove built-up plaque that is not removable using conventional brushing and flossing. Often, dentists are also capable of identifying potential problems that patients are not yet able to see or feel. When you maintain regular preventative dental appointments, you can stave off decay and gum disease, as well as identify the beginnings of oral health problems before they become severe.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/cleaning.jpg' alt='Dental Cleaning'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that Americans are less and less likely to visit the dentist as they age? Data from the Centers for Disease Control reports that only 57 percent of Americans over age 65 visited the dentist in 2010. That compares to about 61 percent of adults under age 65 and about 79 percent of children ages 2 to 17. Nonetheless, it is important to visit the dentist for cleanings and exams regardless of how long has passed since your most recent dental appointment.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I really need to have my teeth professionally cleaned?</h3>
	    <p>Yes. Even if you brush and floss after every meal and before bed, bacteria-harboring plaque can accumulate in the tiniest crevices, grooves and pits. Over time, the teeth will begin to decay in those areas, which may result in pain and partial or total tooth loss.</p>

	    <h3>What should I expect at my cleaning and exam consultation?</h3>
	    <p>Your cleaning and consultation will consist of a visible examination of the teeth and gums. If you haven’t been to the dentist in a while, you may also require x-rays for a more comprehensive view of your teeth. You’ll also consult with your Louisville dentist about any oral health problems you may have been having or questions that you may have. The cleaning will follow, during which a dental hygienist will use special instruments to remove hardened plaque from your teeth. Finally, your teeth will be polished before your dentist discusses any treatment recommendations he or she may have for you.</p>

	    <h3>What types of guidelines should I follow after my visit?</h3>
	    <p>In between dental cleanings and consultations, be sure to maintain good oral habits at home. This includes daily flossing and brushing after meals. It’s also important to drink fluoridated water and use a fluoridated toothpaste.</p>

	</div>
</div>