<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Fluoride and Decay Prevention</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Fluoride is a naturally occurring element that has been shown to help strengthen teeth in children and also prevent decay in people of all ages. Topical fluoride in particular is helpful for promoting oral health. The American Dental Association has publicly endorsed the use of fluoride for the prevention of dental caries, as has the American Academy of Pediatrics and the American Medical Association.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/fluoride.jpg' alt='Decay Prevention'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that you might be drinking fluoride everyday without knowing it? Many communities add fluoride to the public water supply in an effort to promote better dental health. You can find out if there is fluoride in your tap water by contacting your local water utility. Keep in mind that if your primary source of drinking water is bottled, you may not be getting fluoride. You can contact your bottled water company or manufacturer to find out if fluoride is in your water. If not, speak with your dentist about getting professional fluoride treatments.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I need fluoride treatments?</h3>
	    <p>You may need Louisville fluoride treatments if your drinking water is not fluoridated or if you are experiencing certain symptoms, such as receding gums. Fluoride treatments can also provide oral support and prevent decay if you wear orthodontic braces or are taking medications that cause dry mouth.</p>

	    <h3>What should I expect during fluoride treatments?</h3>
	    <p>Fluoride treatments are painless and can be administered in your Louisville dentist’s office at your twice-yearly check-ups and cleanings. Your dentist will distribute fluoridated gel, foam or varnish into a tray and place it over your teeth. The treatment takes only a few minutes and is only required between one and four times per year.</p>

	    <h3>Is there anything I can do to supplement my fluoride treatments?</h3>
	    <p>Yes. The ADA recommends supplementing your fluoridated drinking water or Louisville fluoride treatments with a fluoridated toothpaste.</p>

	</div>
</div>