<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Dental Health and Your Diet </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Your body works hard to convert the foods you eat into energy. You may not think twice about what you are eating – especially when it comes to grabbing an afternoon snack or sipping on a vanilla latte on your Louisville commute. But the food you put in your mouth affects more than just your waistline. The truth is, your diet has a direct effect on your overall dental health. Developing good eating habits can lead to excellent oral health free of decay and gum disease. The American Dental Association recommends avoiding certain foods that can expedite decay, such as foods high in sugar.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/diet.jpg' alt='Your Diet'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that eating a slice of pie in the afternoon could be more dangerous to your oral health than eating the same piece of pie as a dessert after dinner? According to the ADA, snacking between meals – especially on sugar-filled foods – can more rapidly lead to decay than eating the same foods with meals. If you must eat the mid-afternoon pie, reach for the toothbrush afterward. Better yet, swap the pie for a nutritious, sugar-free snack like string cheese or some baby carrots.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I change my eating habits to better my oral health?</h3>
	    <p>Probably. But never start a new diet without first consulting with your physician. If you are on a special diet, be sure to speak with your dentist about the types of foods you should be eating that comply with your diet and can also optimize your oral health.</p>

	    <h3>What types of changes will my Louisville dentist recommend?</h3>
	    <p>In addition to avoiding sugary foods, the ADA recommends drinking plenty of water each day and avoiding snacks between meals whenever possible. It is also important to consume nutritious foods from each of the major food groups, including whole grains, vegetables, lean proteins, low-fat dairy, and fruits. Not only will you improve the health of your teeth and gums, but you may drop a pant size too!</p>

	    <h3>Are there any other habits I should be adopting to improve my oral health?</h3>
	    <p>Yes. You should be flossing daily and brushing twice daily using a soft-bristled toothbrush. You should also be visiting your Louisville dentist at least twice per year for oral exams and professional dental cleanings.</p>

	</div>
</div>