<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Bad Breath</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Having bad breath can be an embarrassing problem – especially if you are regularly face to face with other people. Known professionally as halitosis, bad breath plagues many people every day. Most cases of bad breath can be remedied by efficiently brushing the teeth. However, some types of bad breath are chronic or recurring, which may warrant a visit to the dentist.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/breath.jpg' alt='Bad Breath'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that bad breath can be caused by something as simple as eating too much garlic, or that it could be a serious symptom of disease? Some of the most common causes of bad breath include dry mouth, certain medications, use of tobacco, poor dental hygiene, and oral infections. In rare cases, bad breath may be a sign of diseases like cancer or gastroesophageal reflux.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I need treatment for my bad breath?</h3>
	    <p>If your bad breath does not improve despite self-care techniques, such as dietary adjustments and thorough tooth brushing, you may need to see a dentist about pursuing professional treatment. Keep in mind that short-term remedies like gum, breath mints, and mouthwash may temporarily freshen breath, but they are not a solution to the underlying problem.</p>

	    <h3>What should I expect my dentist to do about my bad breath?</h3>
	    <p>Your visit will begin with an examination and questions about your daily habits, such as the types of foods you eat and the medications you take. Your dentist may then inspect your mouth for signs of decay, infections or gum disease that could be causing your bad breath. If your chronic bad breath cannot be traced to an oral problem or daily habit, you may be referred to a physician for further evaluation.</p>

	    <h3>Is there anything I can do to maintain better breath?</h3>
	    <p>Yes. If bad breath is a source of embarrassment for you, try to keep breath fresheners on-hand at all times. Sleep with your mouth closed, as this prevents dry mouth and helps tame morning breath. Eliminate odor-causing foods from your diet, such as garlic and onions, and make an effort to brush your teeth and tongue every morning and night. Finally, be sure to visit your dentist for professional cleanings at least twice per year to remove built-up plaque that can cause chronic halitosis.</p>

	</div>
</div>