<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Post-Op Questions</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>If you are undergoing a dental procedure or operation, you will be given a set of post-operative instructions to abide by in the hours, days, and weeks after your treatment. Following these instructions is essential to preventing infections in surgical sites, protecting restorations, and minimizing the possibility of experiencing complications. Post-operative instructions vary from procedure to procedure, but you are still sure to have some questions regarding care. Your Louisville dentist will be available to answer those questions and respond to any concerns you may have.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/post_op.jpg' alt='Post Op Questions'/>
    	</div>

	    <blockquote>
	    	<p>Try to anticipate some of the questions you may have about your post-operative care and ask them prior to your treatment.</p>
	        <span class='quote-context'>Some of the most common post-op questions include:</span>
	        <ul>
	        	<li>How should I manage pain following my procedure?</li>
	        	<li>How long should I experience discomfort?</li>
				<li>Do I need to follow any special dietary guidelines?</li>
				<li>Is it safe for me to drink through a straw?</li>
				<li>Will I be able to drive myself home after my procedure?</li>
				<li>Will I need to take an antibiotic?</li>
				<li>Will I need to return to your office for a follow-up appointment?</li>
				<li>When will my permanent restorations be ready?</li>
				<li>How do I care for my removable prosthesis?</li>
	        </ul>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I talk with my dentist about the questions I have regarding my post-operative care?</h3>
	    <p>Yes. Your post-operative care is contingent on you understanding everything about the recovery process and your responsibilities in caring for your surgical site.</p>

	    <h3>What should I expect when I speak with my dentist?</h3>
	    <p>Your Louisville dentist should allocate enough time in your consultation and pre-operative exam to listen to your concerns and answer any questions you may have. You should also be provided a phone number that you can call following your procedure to discuss any questions that may come up at that time.</p>

	    <h3>Is there anything I can do to make the process easier?</h3>
	    <p>Yes. Begin thinking of any questions you may have about your post-operative care, and begin writing them down. You’ll be ready to ask all of your questions when the opportunity arises without missing any important details.</p>

	</div>
</div>