<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Tooth Extractions</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Tooth extractions are routine dental procedures used to remove decayed, damaged or otherwise problematic teeth. Dentists usually make every effort to preserve natural teeth, although sometimes an extraction is necessary. Although the procedure is performed in a dentist’s or oral surgeon’s office, it is considered surgery. Depending on which teeth are removed, they may be replaced with a dental implant or another oral prosthetic.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/tooth_extractions.jpg' alt='Tooth Extractions'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>There are several reasons why you could need a tooth extraction.</span>
	        <p>The most common cause of Louisville tooth extractions is severe tooth decay and cavities. However, many patients also undergo extractions for impacted teeth – particularly wisdom teeth. Other causes for extraction include advanced periodontal disease, cracked teeth, and teeth that are severely malformed. Although many circumstances that require extraction are unavoidable, some could be prevented with regular visits to the dentist for exams and cleanings.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I need a tooth extraction?</h3>
	    <p>Only your Louisville dentist can tell you if you need a tooth extraction. However, you may be a candidate for the procedure if one or more of your teeth are decayed so severely that a filling or other restoration is not a possibility for treatment.</p>

	    <h3>What should I expect during my tooth extraction appointment?</h3>
	    <p>If you and your dentist decide to extract one or more teeth, you will be scheduled to return for oral surgery at a later date. You will be given a local anesthetic to prevent pain during the procedure, and you may be prescribed medications to help manage pain in the hours following your extraction. Depending on the nature of your extraction and other factors, such as whether your teeth are impacted, you may also be sedated or given general anesthesia during your procedure.</p>

	    <h3>What type of post-treatment care will I need to follow?</h3>
	    <p>Post-operative care following a Louisville tooth extraction is essential for healing and preventing complications. You will be instructed to avoid certain foods and also keep the surgical site clean at all times. If you are prescribed an antibiotic, it is important that you complete the course of treatment to prevent infection. Finally, you may be advised to avoid smoking or drinking through a straw, as doing so may delay the healing process and cause a condition known as ‘dry socket.’</p>

	</div>
</div>