<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Gum Disease &amp; Periodontal Disease</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Periodontal disease is one of the most common diseases in America, affecting nearly 65 million adults over age 30. There are two types of periodontal disease – gingivitis and periodontitis. Each refers to an accumulation of bacteria along the gum line, though one is more severe than the other.</p>

	    <ul>
			<li>Gingivitis – the least invasive form of periodontal disease; features minimal symptoms, such as reddening, swelling and easy bleeding along the gum line.</li>
			<li>Periodontitis – the most serious form of periodontal disease; causes the gums to recede and pull away from the teeth.</li>
	    </ul>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that in addition to being one of the most prevalent diseases in America, periodontal disease is also one of the most preventable? Proper brushing and flossing techniques can help prevent the accumulation of tartar, which harbor harmful bacteria along the gum line. According to the American Academy of Periodontology, certain lifestyle habits and systemic conditions like smoking and diabetes can also contribute to the development of periodontal disease. Talk to your Louisville periodontist or dentist about the changes you can make to reduce your chances of developing gingivitis or periodontitis.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I seek treatment for periodontal disease in Louisville?</h3>
	    <p>If you are experiencing any of the signs or symptoms of periodontal disease, seek treatment as soon as possible. Found in its earliest stages, periodontal disease is more easily treated. Left untreated, periodontal disease is likely to progress, requiring more invasive treatments and potentially causing total tooth loss.</p>

	    <h3>What should I expect during Louisville periodontal disease treatment?</h3>
	    <p>Your treatment experience will vary according to the stage of your disease. If gingivitis is the problem, you’ll need a thorough professional cleaning and a topical antibiotic. On the other hand, a diagnosis of periodontitis may require surgery, as well as bone or tissue grafting. Talk with your periodontist about the treatment options best for you.</p>

	    <h3>Will I need to follow any special instructions following periodontal disease treatment?</h3>
	    <p>Yes. Your post-treatment care guidelines will vary according to the type of treatment you have and may include an at-home antibiotic and special instructions for keeping the treatment site clean in the days following your procedure. You will be advised to maintain your treatment results by attending periodic dental cleanings and exams in the future – perhaps more frequently than the standard twice-yearly recommendation. You’ll also be encouraged to begin flossing and using a mouth rinse daily once you have recovered from your Louisville periodontal treatment.</p>

	</div>
</div>