<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		How to Brush Your Teeth </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Brushing your teeth is probably a standard part of your daily routine, but chances are you aren’t following the American Dental Association’s guidelines for cleaning your teeth properly. The ADA currently recommends that you brush your teeth a minimum of two times each day – preferably morning and night or anytime you eat foods that contain sugar. When you brush, your toothbrush should be tilted at a 45 degree angle to your gum line. As you brush, be sure to remove debris from every surface of the teeth – including the backs of the teeth, near the gum line, and on chewing surfaces. It is also important to brush your tongue, as bacteria can accumulate there and cause malodorous breath.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/brushing.jpg' alt='Brushing Teeth'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that the type of toothbrush you use makes a difference in your oral health? The ADA recommends using a soft-bristled toothbrush with a head that is ergonomically proportioned to the inside of your mouth. Many patients erroneously believe that medium or hard-bristle toothbrushes are more efficient; but these brushes can actually cause abrasions to the teeth and gums, making them more vulnerable to decay. The ADA also recommends replacing your toothbrush about four times yearly or whenever the bristles become frayed.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I change my brushing habits? </h3>
	    <p>You may need to change your brushing habits if you are experiencing signs of poor oral hygiene. Examples of common symptoms include bleeding or reddened gums, excessive plaque build-up, decaying teeth and receding gum lines. To find out if you are brushing correctly or if you need to change your brushing habits, make an appointment with your  dentist for a full consultation.</p>

	    <h3>What should I expect if I begin brushing my teeth correctly?</h3>
	    <p>The benefits of proper tooth brushing techniques may not be experienced immediately, but they are noticeable long-term. Over time, brushing too hard or not brushing enough can produce oral health complications that cannot be reversed and require special treatment. By adopting proper brushing habits, you could avoid expensive dental bills in the future.</p>

	    <h3>Is there anything else I need to do in addition to brushing properly?</h3>
	    <p>Yes. It is important that you also floss daily and use toothpaste that contains fluoride each day. You should also schedule dental exams and professional cleanings in at least twice per year.</p>

	</div>
</div>