<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Electric Brush vs. Manual Brush</h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Preventative dentistry is about more than just visiting your Louisville dentist twice yearly for an exam and thorough cleaning. In fact, the majority of your preventative care is done at-home as a part of your normal hygienic routine. Many Louisville residents use manual toothbrushes to remove debris and plaque from their teeth. However, electric brushes have become widely popular in recent years, leaving some to wonder whether one type is better than the other.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/electric_manual.jpg' alt='Electric Toothbrush'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>the American Dental Association does not lean toward one type of brush over the other? It does, however, acknowledge that people with upper body mobility restrictions may better benefit from an electric toothbrush instead of a manual brush. Regardless of which type you decide is right for you, the ADA recommends that all brushes be soft-bristled so as to avoid abrasions that can lead to decay and receding gum lines.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Which toothbrush should I be using?</h3>
	    <p>You can effectively brush your teeth with either a manual toothbrush or an electric one. However, the rapid movements of motorized versions may be more effective at removing plaque from the teeth and gum line. If you have questions about which toothbrush is best for you, speak with your Louisville dentist about it at your next visit. She or he may recommend an electric brush with an oscillating head or a brush that includes a timer to let you know how long to brush.</p>

	    <h3>What types of results should I be getting from my toothbrush?</h3>
	    <p>Regardless of whether you choose an electric brush or a manual brush, it should be easy for you to maneuver in your mouth and behind your back teeth. If the head is too big, it may not be effectively removing plaque from your teeth.</p>

	    <h3>My electric toothbrush was expensive. Do I need to change it as often as a manual brush?</h3>
	    <p>Yes. Your toothbrush should be replaced at least once every three to four months or whenever you notice fraying. However, most electric toothbrushes come with interchangeable heads. In other words, you won’t need to replace the entire device – only the brush itself.</p>

	</div>
</div>