<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Same Day Emergency Service </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>When dental emergencies happen, waiting several days for an appointment with a dentist is not an option. Louisville emergency dentists are committed to helping patients manage sudden injuries and complications that require immediate treatment. Some emergencies are extremely painful, and a visit to the dentist can provide palliative relief. On the other hand, some emergencies can threaten the health of the teeth, and receiving rapid dental treatment could mean the difference in saving a tooth or losing it.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/emergency.jpg' alt='Emergency Dental Repair'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that the steps you take after a dental emergency happens can greatly improve your outcome once you receive emergency care. Even though Louisville emergency dentists will see you very quickly, there are some precautionary steps you can take in the time it takes to arrive at your dentist’s office. The American Dental Association has a few recommendations:</p>
	        <ul>
	        	<li>If you bite your lip/tongue – gently cleanse the area and apply a cold compress</li>
	        	<li>If you break your tooth – gently rinse the area and apply a cold compress</li>
	        	<li>If you lose your tooth – rinse tooth’s root with water if it’s dirty, being careful to hold it by the crown. Carefully place it back in its socket, or place it in milk. Bring it to the dentist immediately.</li>
	        </ul>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I need to see an emergency dentist in Louisville?</h3>
	    <p>If you are experiencing sudden and chronic tooth pain, or if you have sustained trauma to your teeth and surrounding tissues, you may need to see an emergency dentist. Even if you do not currently have a dental emergency, it is important that your dentist be capable of treating you quickly in the event that an emergency does arise.</p>	   

	    <h3>What should I expect from my emergency dental appointment?</h3>
	    <p>Urgent problems that threaten the health of your teeth or leave you in pain should not be ignored. You can expect to be seen by your emergency dentist quickly and without an appointment, though it is recommended that you call your dentist’s office if possible before you arrive.</p>

	    <h3>What can I do after my emergency dental appointment to avoid future problems?</h3>
	    <p>Some of the most common dental emergencies can be prevented by taking a few simple precautions. Avoid chewing hard foods, such as candy and ice, as these can cause your tooth to crack or chip. Also, be sure to wear a properly fitted dental mouth guard during sports and other high impact activities. Protecting your mouth on a daily basis can significantly reduce your risk of injuring your teeth, as well as your tongue, lips, and the walls of your mouth.</p>
	</div>
</div>