<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/family-dentistry.jpg" alt='Family Dentistry'/>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Family Pediatric &amp; Teen Care </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Children’s dentistry – also known as pediatric dentistry – is a branch of dentistry pertaining to the oral health of children. A child’s dental health is important, and establishing good hygiene at a young age will set a foundation for a lifetime of healthy gums and teeth. The goal of children’s dentistry is to administer preventative care, educating parents and children about ways they can avoid gum disease and tooth decay, and administer treatment for children who are experiencing oral health complications, such as cavities or gingivitis.</p>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that any licensed Louisville dentist may examine and treat a child’s dental health, but pediatric dentists make children the sole focus of their practices? They spend an additional two or three years beyond dental school specially training to treat children. Specializing in children’s dentistry requires an understanding of the primary teeth, as well as the general oral health habits that most children practice at home. Children often visit pediatric dentists throughout childhood and into adolescence.</p>	       
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Should I take my child to a Louisville dentist?</h3>
	    <p>Yes. Although primary teeth eventually fall out, they serve several important purposes and should be preserved with a healthy oral care routine. This includes a dental check-up and cleaning every six months beginning when the first tooth erupts.</p>	   

	    <h3>What will happen during my child’s dental appointment?</h3>
	    <p>Pediatric dentists usually ask parents about their children’s oral care routines. Your child’s teeth will be examined for caries or signs of gum disease, and a hygienist may use special instruments to remove any built-up plaque or tartar. If your child has molars, you may be given the option of applying sealants to those teeth to protect them from childhood and adolescent decay. Before the conclusion of the visit, you will have an opportunity to ask questions or voice concerns about your child’s dental health and any treatments your child’s dentist may recommend.</p>

	    <h3>Will I need to follow any special instructions after my child’s visit?</h3>
	    <p>Your child’s Louisville pediatric dentist may recommend making changes to your child’s oral care routine following your visit. If your visit requires treatment, such as a filling, you may receive further instructions for post-treatment care.</p>
	</div>
</div>