<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/general-dentistry.jpg" alt='General Dentsitry'/>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		General Dentistry </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>General dentistry encompasses a broad range of diseases and disorders of the oral and maxillofacial region. Everyone should see a general dentist for routine oral health examinations, twice-yearly cleanings, and treatment of routine oral health complications, such as minor tooth decay. General dentistry is as much about prevention as it is about treatment. Patients who visit a general dentist in Louisville can expect professional oral health care, as well as education and advisement about self-care between office visits.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/general_dentistry.jpg' alt='General Dentistry'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that the American Dental Association recommends that every American visit a general dentist a minimum of one time every six months? Doing so can aid in the detection of decay, oral disease and other dental health problems before they progress and become severe. </p>
	        <p>If you are at risk for certain complications or have a history of periodontal disease and advanced decay, you may need to visit your general dentist on a more frequent basis. Patients who visit their dentist regularly and as recommended are more likely to retain their natural teeth and enjoy a lifetime of good oral health.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Do I need to visit a general dentist? </h3>
	    <p>Yes. Even if you are not currently experiencing any symptoms of tooth decay or gum disease, it is important to visit your dentist for a thorough examination and cleaning. Despite daily brushing and flossing, your teeth can still accumulate tartar that can harbor bacteria. These bacteria can lead to gum disease and tooth decay if not professionally removed at your dentist’s office.</p>

	    <h3>What should I expect during my dentist visit?</h3>
	    <p>Your visit will begin with a general inspection of the condition of your teeth. If you have not been to the dentist in a while, your dentist may order x-rays. An oral hygienist will then use special metal instruments to gently scrape away tartar along your gum line. Later, your dentist will review your x-rays and discuss any symptoms you may have been experiencing. She or he will then make a recommendation for treatment (if applicable) and answer any questions you may have.</p>

	    <h3>Are there any special instructions I need to follow after seeing my Louisville dentist?</h3>
	    <p>Based on the results of your dental check-up, your general dentist may recommend that you return for treatment or follow a special at-home oral care plan. You may also be referred to a dental specialist for treatment of advanced oral health conditions.</p>
	</div>
</div>