<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/clear-braces.jpg" alt='Clear Braces'/>		
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Clear Braces and Invisalign </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Invisalign is an orthodontic appliance system used to inconspicuously treat crooked and crowded teeth in adults and teens. This modern take on braces features a system of clear aligner trays that are worn at all times with the exception of during meals and when brushing or flossing. The trays are custom fitted to the teeth, making them virtually unnoticeable when laughing, talking, and eating with other people. Patients receive a sequence of trays, each of which is slightly different than the one before. The aligners provide slight resistance to the teeth, forcing them to move into alignment over time. With Invisalign, adults and teens can achieve the smiles they’ve always wanted without feeling self-conscious about the mode of treatment.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/invisalign.jpg' alt='Invisalign'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>wearing Invisalign is in no way as restrictive as traditional braces? Many adults opt for this system not only because it is discreet, but also because there is no need to change your diet to avoid foods that could damage braces. This is because the Invisalign system is free of braces and brackets, instead opting for a removable tray that can be taken out prior to meals. Also, Invisalign fits well into busy Louisville adult schedules, as there is no need to attend frequent visits for wire tightening. Most patients simply change to a new aligner tray every couple of weeks.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Am I a candidate for Invisalign? </h3>
	    <p>If you have crooked or crowded teeth that are embarrassing to you or otherwise preventing you from achieving optimal oral health, Invisalign could be the solution for you. Visit your Louisville Invisalign dentist for a complete consultation to find out if you could benefit from clear orthodontics.</p>

	    <h3>What should I expect during my Invisalign treatment?</h3>
	    <p>You will wear your aligners nearly all of the time, with the exception of about two hours per day. Invisalign treatments in Louisville are different for everyone, but most patients can achieve their ideal smiles within one to two years. During that time, you can expect to make occasional dental visits to monitor your progress.</p>

	    <h3>Will I need any post-treatment care?</h3>
	    <p>Following your treatment, you will no longer need to wear Invisalign trays. However, you will need to wear a retainer each day to help protect your new smile. It is also important to continue visiting your dentist for routine check-ups and twice-yearly cleaning.</p>
	</div>
</div>