<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Dental Mouth Guard </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content mouth-guard'>
	    <p>Dental mouth guards have long been used to protect the teeth, gums and supporting tissues from damage, injury and trauma. There are two types of dental mouth guards – over the counter and custom. While OTC guards are helpful for occasional use, many Louisville dental patients require the benefit of a customized dental mouth guard fitted by a dentist to effectively prevent injury.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/dental_mouth_guard.jpg' alt='Dental Mouth Guard'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Caring for your new custom mouth guard is simple.</span>
	        <p>The American Dental Association recommends keeping it protected in a sturdy container in between usage. You should also be careful to clean your mouth guard after use and occasionally soak it in cool, soapy water for thorough sanitation. Custom dental mouth guards are designed for durability, but it is important to check your mouth guard for signs of wear every few months. Mouth guards for children and teens must be replaced frequently to account for growing jaws and changes to the teeth.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Do I need a dental mouth guard?</h3>
	    <p>There are many reasons why wearing a dental mouth guard could be right for you. A few examples include:</p>
	    <ul class='list'>
			<li>Night time wear to prevent damage from teeth grinding and bruxism</li>
			<li>Tooth and lip protection during high-impact sports, such as martial arts</li>
			<li>To serve as a barrier between the lips and oral appliances, such as metal braces</li>
			<li>To protect fragile bridgework</li>
	    </ul>

	    <h3>What should I expect when my Louisville dentist fits me for a mouth guard?</h3>
	    <p>Your visit will consist of taking an impression of your teeth that will be used as a mold for your new mouth guard. You may even be able to leave your Louisville dental appointment with your custom mouth guard in-hand.</p>

	    <h3>Should I follow any special instructions?</h3>
	    <p>Before you leave your Louisville dentist’s office with your new mouth guard, you’ll receive instructions for how and when to wear it. If you suffer from TMJ disorders or bruxism, for example, you will likely wear your mouth guard at night. If you participate in recreational sports, however, you may only need to wear your mouth guard during physical activity.</p>
	</div>
</div>