<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Root Canals </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Root canals are valuable dental procedures used to treat and preserve teeth with badly infected roots. The pulp is the live portion of the tooth that extends into the root and contains nerve endings and tissues. When it becomes infected, patients can experience pain, swelling and even total tooth loss unless treated. Root canals remove the damaged parts of the tooth and infected root. In some cases, an antibiotic is prescribed to help prevent further infection within the tooth. The organic portion of the tooth that remains may be restored using a cap or crown that provides a natural appearance and normal tooth function.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/root_canal.jpg' alt='Root Canal'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Many patients associate root canals with pain and discomfort...</span>
	        <p>But local anesthetics and advancements in modern dentistry have made root canals highly tolerable procedures that are often no less comfortable than getting a standard filling. Upon completion, a restored tooth that has undergone a root canal will blend in with surrounding teeth – virtually undetectable to the average eye. More than 9 out of 10 Louisville root canal procedures are successful, and most treatments last many years or even a lifetime.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Am I a candidate for a Louisville root canal?</h3>
	    <p>You could be a candidate for a root canal if decay or damage has allowed bacteria to infect the pulp inside your tooth. A root canal could also be the right treatment for you if you prefer to preserve as much of your natural tooth as possible instead of extracting both the healthy and diseased portions of your tooth. For more information about Louisville root canals and whether they are right for you, schedule a dental exam and consultation at your earliest convenience.</p>

	    <h3>What should I expect during my root canal treatment?</h3>
	    <p>If you decide to undergo a root canal, the first step in your procedure will involve a local anesthetic. Once your tooth root is numb, the diseased portion of your tooth pulp will be removed and potentially treated for bacterial infection. The tooth will then be sealed and filled before being restored with a crown.</p>

	    <h3>What type of post-treatment care is required after a root canal?</h3>
	    <p>It is normal for teeth to become inflamed after a root canal, potentially causing sensitivity for the first several days following treatment. However, normal brushing and flossing habits can be resumed immediately after treatment and restoration is complete.</p>
	</div>
</div>