<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/sleep-apnea.jpg" alt='Sleep Apnea'/>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Sleep Apnea and Snoring </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Did you know that between 1/3 and 1/2 of all adult Americans snore or have snored at some point? However, snoring – even chronically – is not necessarily indicative of sleep apnea. In fact, only 1/5 of adults have some form of sleep apnea, which can be a life threatening condition. The difference between benign snoring and sleep apnea is that apnea patients experience cessations in their breathing patterns and may suddenly gasp for air or choke in their sleep. This can lead to severe drowsiness and fatigue during the day, as well as depression, memory loss and decreased libido. Louisville treatment for sleep apnea and snoring usually depends on the severity of the condition and whether patients are experiencing apnea or simple snoring. Some of the most common treatments include behavioral modifications, oral sleep appliances, continuous positive airway pressure devices, and in some cases surgery.</p>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that you can reduce your chances of snoring or developing apnea by changing a few simple habits? According to the American Association of Oral and Maxillofacial Surgeons, one of the most effective ways of alleviating apnea and snoring is by losing weight. The AAOMA suggests that just 10 pounds can be enough weight loss to help open up the airways and reduce apnea symptoms. Other ways of preventing the condition include changing your sleep position, avoiding tobacco products, and maintaining regular sleeping habits.</p>	      
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Do I need treatment for sleep apnea or snoring? </h3>
	    <p>You may need treatment for snoring if the condition is disrupting the sleep of your partner or other people who live with you. You definitely need treatment for sleep apnea if you or your partner notice some of the dangerous symptoms of this condition. Contact your Louisville dentist immediately to discuss your options for managing or treating sleep apnea.</p>

	    <h3>What should I expect during Louisville treatment for sleep apnea or snoring?</h3>
	    <p>Your treatment will depend on the extent of your symptoms. In mild to moderate cases, conservative approaches are used first. Patients who do not respond to these methods may be fitted for an oral appliance, given a pressurized airflow mask, or otherwise advised to undergo surgery to open up the airway.</p>

	    <h3>Are there any steps I need to take to improve my outcome?</h3>
	    <p>You may be able to avoid more invasive treatments by finding ways of reducing the severity of your symptoms. Some patients find it beneficial to sleep with their heads propped up, whereas others find relief by sleeping with a tennis ball under their backs. Talk with your Louisville dentist about the options available to you and ways that you can contribute to the management of your condition.</p>
	</div>
</div>