<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<img src="/images/icons/services/cosmetic-dentistry.jpg" alt='Teeth Whitening'/>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Teeth Whitening </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Teeth whitening procedures are used to brighten the appearance of a patient’s smile – sometimes by as many as 5 to 10 shades in a single session. According to the American Dental Association, teeth whitening procedures have become some of the most popular esthetic dental treatments among patients throughout the country, including Louisville. Professional teeth whitening services can be performed in an office setting or prescribed for take-home use by a patient. In comparison to over-the-counter teeth whitening treatments, professional whitening uses stronger whitening agents that deliver faster and more effective results.</p>

	    <div class='img-wrapper'>
	    	<img src='images/stock/whitening.jpg' alt='Teeth Whitening'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that the teeth naturally darken as we age? Furthermore, certain foods, beverages, medications and habits can contribute to a darker, yellowed, or stained smile. However, it is possible to erase years of stains in a single professional whitening session and sustain those results for many years with proper maintenance. According to the American Academy of Cosmetic Dentistry, professional whitening is best maintained by a combination of good oral care and take-home whitening treatments as recommended by your dentist.</p>	       
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3>Am I a Candidate for Teeth Whitening?</h3>
	    <p>You may be a candidate for professional teeth whitening if you are experiencing discoloration, but otherwise have healthy teeth and healthy gums. Schedule a consultation with a Louisville dentist to find out if tooth whitening could be right for you. Some patients, such as those who are pregnant or sensitive to whitening agents, may not be candidates for professional whitening.</p>	   

	    <h3>What Should I Expect When I Get My Teeth Whitened?</h3>
	    <p>Louisville teeth whitening consists of a thorough cleaning and polishing of the teeth, with all debris carefully removed. Your dentist will then protect your gums before applying a whitening agent to the surface of your teeth. The product will be activated and left on the teeth for several minutes before being washed off with water. Your results will vary according to the natural shade of your teeth and degree of discoloration, but it is normal for patients to experience a lightening of several shades in a single visit.</p>

	    <h3>What Type of Post-Treatment Care is Required After Having My Teeth Whitened?</h3>
	    <p>It is normal to experience some tooth sensitivity following a professional whitening treatment. You may be instructed to avoid consuming highly pigmented beverages for at least 24 hours to prevent the teeth from becoming stained again. Examples include tea, coffee and wine. Depending on your results and long-term teeth whitening goals, you may also be sent home from your procedure with an at-home whitening kit for later use.</p>
	</div>
</div>