<div class='article-wrapper animated fadeInDown delay-500'>
	<header class='center icon block'>
		<h1>  
		<span class='content-nav-btn'>
		    <i class="fa fa-bars"></i>
		</span>
		Tooth-Colored Fillings &amp; Composite Fillings </h1>
		<div class='dash-divider'>
		    <span class='light'></span>
		    <span class='dark'></span>
		    <span class='light'></span>
		</div>
	</header>
	<div class='article-inner-content'>
	    <p>Composite fillings – also known as tooth-colored fillings – are dental restorations designed to be inconspicuous and natural in appearance. They blend well with the teeth and appear more natural than amalgam fillings, which are darker and more easily seen by other people. Composite fillings are made of ceramic and plastic compounds that chemically bond to the teeth. They can be used to fill in decayed areas of the teeth, as well as to help repair chipped or broken teeth. Most dentists use composite restorations to treat the teeth closest to the front of the mouth, as they are more noticeable when patients smile. However, advancements in dental technology and the composition of composite fillings have made it possible for Louisville dentists to also use tooth-colored fillings on molars, which receive more wear than other teeth.</p>

		<div class='img-wrapper'>
	    	<img src='images/stock/composite_fillings.jpg' alt='Composite Fillings'/>
    	</div>

	    <blockquote>
	        <span class='quote-context'>Did you know…</span>
	        <p>that composite fillings allow dentists to preserve more of the natural tooth structure? This is because composite materials chemically bond to the surface of the tooth like an adhesive. The process takes slightly longer to complete than traditional amalgam fillings, but patients can preserve more of the natural portion of the teeth while enjoying a restoration that is discreet and understated.</p>
	    </blockquote>

	    <h2> Frequently Asked Questions </h2>
	    
	    <h3> Am I a candidate for tooth-colored fillings? </h3>
	    <p>If you have a cavity, broken tooth, or a deteriorated filling, you may be a candidate for a tooth-colored filling. Schedule a dental consultation to find out if composites are right for you.</p>

	    <h3>What should I expect if my dentist decides a composite filling is right for me?</h3>
	    <p>During your visit, your gums and teeth will be anesthetized with a local anesthetic near the site of the filling. Once the area is numb, the decayed or damaged portion of your teeth will be removed to make room for the new tooth-colored filling. A resin will be placed over the area and cured with a hand-held light for less than a minute. The new filling will then be shaped and polished before the procedure is complete.</p>

	    <h3>What type of post-treatment care is required after getting a composite filling?</h3>
	    <p>Composite fillings are cured with light at your dentist’s office. You should be able to return to normal activity and oral care immediately after your visit. It’s normal for treated teeth to experience some sensitivity to hot and cold in the days following treatment, but sensitivity that persists beyond a week should be reported to your dentist.</p>
	  
	</div>
</div>